﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link href="@Url.Content("~/Content/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
    <script src="~/Scripts/jquery_1.8.js"></script>
    <script src="~/Scripts/modernizr.custom.67231.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/TestingViewScript.js"></script>
    <link rel="stylesheet" href="~/Content/jquery-ui.css" />
    <script language="javascript" type="text/javascript" src="~/Scripts/jquery-1.5.1.min.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/jquery-ui.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/jquery.watermark.min.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script type="text/javascript">

        $(window).resize(function () {
            var stdWidth = 1349;
            var stdHeight = 651;

            var browserWidth = $(window).width();
            var browserHeight = $(window).height();
            if (browserWidth < stdWidth - 17) {
                /*$('#width').addClass('widthfix');*/
                $('#width').css("width", stdWidth);
                if ($('#layoutBody').attr('class') != undefined && $('#layoutBody').attr('class') != "") {
                    var clsStyle = $('#layoutBody').attr('class');
                    $('#layoutBody').removeClass(clsStyle);
                }
                $('#layoutBody').addClass('overflowNull');
            }
            else if (browserWidth >= stdWidth - 17) {
                $('#width').addClass('widthauto');
                if ($('#layoutBody').attr('class') != undefined && $('#layoutBody').attr('class') != "") {
                    var clsStyle = $('#layoutBody').attr('class');
                    $('#layoutBody').removeClass(clsStyle);
                }

                if ('@ViewBag.Title' == 'Testing Page') {
                    $('#layoutBody').addClass('overflowNull');
                }
                else {
                    $('#layoutBody').addClass('overflowXRemove');
                }

            }
            $('.body').css("min-height", screen.height - 125);
            $('.body').css("min-width", screen.width);

            if ($('#HarnessSec')) {
                if ($('#trigger').outerHeight() > screen.height) {
                    $("#trigger").css("min-height", $('#HarnessSec').outerHeight() - 125);



                }
                //                    else {
                //                        $("#trigger").css("min-height", screen.height - 100);
                //                    }
            }
            //                else {
            //                    $("#trigger").css("min-height", screen.height - 125);
            //                }

        });

        $(document).ready(function () {           

            $("#trigger").click(function () {
                $(".divpanel").toggle("slow");
                $(this).toggleClass("active");

                return false;
            });

            //            var stdWidth = 1366;
            //            var stdHeight = 768;
            var stdWidth = 1349;
            var stdHeight = 651;
            var browserWidth = $(window).width();
            var browserHeight = $(window).height();
            if (browserWidth < stdWidth - 17) {
                $('#width').addClass('widthfix');
                if ($('#layoutBody').attr('class') != undefined && $('#layoutBody').attr('class') != "") {
                    var clsStyle = $('#layoutBody').attr('class');
                    $('#layoutBody').removeClass(clsStyle);
                }
                $('#layoutBody').addClass('overflowNull');
            }
            else if (browserWidth >= stdWidth - 17) {
                $('#width').addClass('widthauto');
                if ($('#layoutBody').attr('class') != undefined && $('#layoutBody').attr('class') != "") {
                    var clsStyle = $('#layoutBody').attr('class');
                    $('#layoutBody').removeClass(clsStyle);
                }

                if ('@ViewBag.Title' == 'Testing Page') {
                    $('#layoutBody').addClass('overflowNull');
                }
                else {
                    $('#layoutBody').addClass('overflowXRemove');
                }
            }
            $('.body').css("min-height", screen.height - 125);
            $('.body').css("min-width", screen.width);

            if ($('#HarnessSec')) {
                if ($('#trigger').outerHeight() > screen.height) {
                    $("#trigger").css("min-height", $('#HarnessSec').outerHeight() - 125);
                }
//                else {
//                    $("#trigger").css("min-height", screen.height - 125);
//                }

            }
            //                else {
            //                    $("#trigger").css("min-height", screen.height - 125);
            //                }
        });
    </script>
</head>
<body id="layoutBody">
    <div id="width">
        <header>
	        <div class="index_header_container">
            <div class="logo" id="divLogo"><img src="~/images/collabera_logo.png" width="194" height="55"></div>
              
            <div id="index_toplinks"><div id="index_icon_link_text"><img src="~/images/user_icon.png" width="13" height="16">&nbsp; <a class="Ltwo" href="#">Help</a>
                    </div>
                </div>
            </div>   
            </header>
        <div id="body">
            @RenderBody()
        </div>
    </div>
</body>
</html>
