﻿@using AccessibilityAnalyser.RuleEngine;
@{
    ViewBag.Title = "Rules Page";
}


<script type="text/javascript">
    function showRules(RuleName, ruleDetailsColor) {
        if ($("#ruleDetails" + RuleName + "div").is(':visible')) {
            $("#ruleDetails" + RuleName + "div").slideUp();
            $("#ruleDetails" + RuleName + "div").css('background-color', ruleDetailsColor);
            $("#RuleName" + RuleName + "div").css('background-color', ruleDetailsColor);
        }
        else {
            $("#ruleDetails" + RuleName + "div").slideDown();
            $("#ruleDetails" + RuleName + "div").css('background-color', ruleDetailsColor);
            $("#RuleName" + RuleName + "div").css('background-color', ruleDetailsColor);
        }
    }
    </script>

@using (Ajax.BeginForm("_RuleListTreeView", new AjaxOptions { UpdateTargetId = "divRuleListTreeView" }))
{
 <input type='hidden' id='current_page' />  
<input type='hidden' id='show_per_page' />
     
    List<RuleDetails> rulesandrulesdetailsdata = (List<RuleDetails>)this.ViewData["RuleDetails"];
    
    var ruleDetails = (from i in
                           (from j in rulesandrulesdetailsdata
                            select new
                            {
                                RuleID = j.RuleID,
                                RuleName = j.RuleName
                            })
                       group i by new { i.RuleID, i.RuleName } into g
                       select new
                       {
                           g.Key.RuleID,
                           g.Key.RuleName,
                       }).ToList();
              
             
    <div class="rules_col_left_one_ctr_border">          
     @{
    var rowColor = "#FFFFFF";
    foreach (var ruleName in ruleDetails)
    {
        var rulename = @ruleName.RuleID;
        var ruleDetailsColor = rowColor;
        
                <div id = "@("RuleName" + @ruleName.RuleID + "div")" class="rules_col_left_one_r1_b" style="background-color:@rowColor;">
                    <a href="javascript:void(0);" onclick="javascript:showRules('@rulename','@rowColor');">
                    <span  class="rules_col_left_list_txt">@ruleName.RuleName</span>
                    </a>
                    <span class="rules_col_left_list_add_icon"></span>
                    <span class="rules_col_left_list_edit_icon"></span>
                    <span class="rules_col_left_list_del_icon"></span> 
                   </div>                     
               
                
                <div id = "@("ruleDetails" + @ruleName.RuleID + "div")" class="testing_col_one_r3_list4_sub_li" style="background-color:@rowColor;">
                    <ul>
                    @foreach (var ruledetails in rulesandrulesdetailsdata)
                    {
                        if (ruleName.RuleID == ruledetails.RuleID)
                        {                                                
                                            <li>                                          
                                            @ruledetails.RulesDescription                                          
                                            </li>                                       
                        }
                    }                       
                       
                    </ul>
                </div>
                    if (rowColor.Equals("#FFFFFF"))
                    {
                        rowColor = "#E6F7F4";
                    }
                    else
                    {
                        rowColor = "#FFFFFF";
                    }
    }
            }
       </div>  
}
