﻿<script language="javascript" type="text/javascript" src="~/Scripts/jquery-ui.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#URLListTable tr").hover(
        function () {
            $(this).toggleClass("execution_Highlight");
        },
            function () {
                $(this).toggleClass("execution_Highlight");
            }
        );

        $('input[type="checkbox"]').click(function () {
            if ($(this).is(':checked')) {
                $(this).parent().addClass('execution_Stickhighlight');
            } else {
                $(this).parent().removeClass('execution_Stickhighlight');
            }
        });
    });

    function successCallBack() {
    }

    $('#CheckAll').click(function () {
        var chk = $(this).is(':checked');
        var cnt = $('input[type=checkbox]', "#URLListTable").length;
        $('input[type=checkbox]', "#URLListTable").each(function () {
            if (chk) {
                $(this).attr('checked', 'checked');
                $(this).parent().addClass('execution_Stickhighlight');
            }
            else {
                $(this).removeAttr('checked');
                $(this).parent().removeClass('execution_Stickhighlight');
            }
        });
    });

    function Import_Onclick() {
        var crawledURLArray = '';
        $(".ExecutionCompleted").html('');

        $('input[type=checkbox]', "#URLListTable").each(function () {
            if (crawledURLArray == '') {
                crawledURLArray = $(this).val() + "~";
            }
            else {
                crawledURLArray = crawledURLArray + $(this).val() + "~";
            }
        });


        if (crawledURLArray != '') {
            $.ajax({
                url: "/Execution/ImporttoExcel", type: "POST",
                data: { CrawledURLArray: crawledURLArray,
                    ClientName: $("#txtclientName").val(),
                    BuildName: $("#txtBuildName").val(),
                    RunName: $("#txtRunName").val(),
                    SiteName: $("#txturlName").val()
                },
                success: function (data) {
                    var fileName = data.FileName;
                    window.location.href = '../Downloads/' + fileName;

                    $(".ExecutionCompleted").append('Import successfully done.');
                    $(".ExecutionCompleted").show();
                }
            })
        }
    }

    $.fx.speeds._default = 500
    function Execute_Onclick() {
        var selectedURLArray = '';
        $(".ExecutionCompleted").html('');

        $('input[type=checkbox]', "#URLListTable").each(function () {
            var chk = $(this).is(':checked');

            if (chk) {
                if (selectedURLArray == '') {
                    selectedURLArray = $(this).val() + "~";
                }
                else {
                    selectedURLArray = selectedURLArray + $(this).val() + "~";
                }
            }
        });


        if (selectedURLArray != '') {
            var url = $("#txturlName").val();
            $.ajax({
                url: "/Execution/Execution", type: "POST",
                data: { SelectedURLArray: selectedURLArray,
                    ClientName: $("#txtclientName").val(), UrlName: url,
                    BuildName: $("#txtBuildName").val(), RunName: $("#txtRunName").val()
                },
                success: function (data) {                    
                    // loading graphic
                    $("#Executing").dialog("close");

                    $(".ExecutionCompleted").append('Execution completed');
                    $(".ExecutionCompleted").show();                    
                }
            })

            // loading graphic
            ExecutingOpenDialog();
        }
        else {
            $("#divdialog").html('');
            $("#divdialog").append('<font size="2">Please select the url</font><center><div class="popup_button_ok" id="OkClick" >OK</div><center>');
            $("#divdialog").dialog("open");

            $("#OkClick").click(function () {
                $("#divdialog").dialog("close");
            });
        }
    }

    function Upload() {
        $.ajax({
            url: "/Execution/Upload", type: "POST",
            success: function (data) {
                // loading graphic
                $("#Executing").dialog("close");

                $(".ExecutionCompleted").append('Execution completed');
                $(".ExecutionCompleted").show();
                //callback(true);
            }
        })
    }

    function ExecuteUploadedFile() {
        $.ajax({
            url: "/Execution/ExecuteUploadedFile", type: "POST",
            data: { SelectedURLArray: "",
                ClientName: $("#txtclientName").val(), UrlName: url,
                BuildName: $("#txtBuildName").val(), RunName: $("#txtRunName").val()
            },
            success: function (data) {
                // loading graphic
                $("#Executing").dialog("close");

                $(".ExecutionCompleted").append('Execution completed');
                $(".ExecutionCompleted").show();
                //callback(true);
            }
        })

        // loading graphic
        ExecutingOpenDialog();
    }    
</script>
@using (Ajax.BeginForm("Execution", new AjaxOptions { UpdateTargetId = "divCrawlContent" }))
{
    List<string> urlList = (List<string>)this.ViewData["URLList"];
    string actionStatus = (string)this.ViewData["ActionStatus"];
    int counter = 1;

    if (urlList != null)
    {
        if (actionStatus == "")
        {
    <div class="execution_col_three_in_hd">
        <input type="checkbox" id="CheckAll" />
        Select All (@urlList.Count URL's Crawled)
    </div>
      
      
    <div class="execution_col_two_cnt2_div">
        <table id="URLListTable" class="execution_col_two_cnt2">
            @* <tr>
                <td class="execution_col_three_in_hd">
                <div>                  
                    <input type="checkbox"  id="CheckAll" checked="checked"/>
                    All                                   
                </div>
                </td>
             </tr>*@
            @foreach (var item in urlList)
            {
                string id = "divCrawledURL" + counter;
                <tr style="position:relative;">
                    <td colspan="2">
                        <div id='@id' >
                            <input type="checkbox" value="@item.ToString()" />
                            <label title="@item.ToString()">
                                @if (item.ToString().Length > 80)
                                { 
                                    @(item.ToString().Substring(0, 80) + "...");
                                }
                                else
                                {
                                    @item.ToString() 
                                }
                            </label>
                        </div>
                    </td>
                </tr>
                      
@*         <div class="brandAll" >
                            <div class="checkbox" id='@id'>
                            <input type="checkbox" checked="checked"> @item.ToString() </div>
                        </div>*@
                                            
                                counter++;
            }
        </table>
    </div>
        }
    <div class="execution_col_two_cnt2_div1">
        @{
        if (@actionStatus == "")
        {
            <a href="#" class="execution_button3" onclick="Import_Onclick();">Import crawled urls</a>
            <a href="#" class="execution_button4" onclick="Execute_Onclick();">Execute</a>            
        }
            
            <div class="ExecutionCompleted">
                @actionStatus
            </div>
        }
    </div>
    }
}

