﻿@using Accessibility.ServicesLayer;
@{
    ViewBag.Title = "Execution Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/style.css">
<script language="javascript" type="text/javascript" src="~/Scripts/jquery-ui.js"></script>
<script language="javascript" type="text/javascript" src="~/Scripts/jquery.watermark.min.js"></script>
<script type="text/javascript" src="~/Scripts/CommonFunctions.js"></script>
<script type="text/javascript">
    var count = 0;
    var CommFunc = new Utils();
    var successCallBack = function () {
    }
    $(document).ready(function () {        
    $('#txtAuthorityName').val('');
    $('#txtAuthorityName').watermark("Authority");
        var strclientName = CommFunc.getUrlQueryString(window.location.href, "clientName");
        if (strclientName != '') {
            $("#txtclientName").val(strclientName);
            //$('input[name=hdnClientName]').val(strclientName);
        }

        $(".execution_trigger").click(function () {
            $(".divpanel").toggle("slow");
            $(this).toggleClass("active");
            if (count == 0) {
                $("#divLogo").removeClass('logo');
                $("#divLogo").addClass('logo_Expand')
                $("#HarnessSec").removeClass('execution_col_two');
                $("#HarnessSec").addClass('execution_col_two_Expand');
                count++;
            }
            else if (count != 0) {
                $("#divLogo").removeClass('logo_Expand');
                $("#divLogo").addClass('logo');
                $("#HarnessSec").removeClass('execution_col_two_Expand');
                $("#HarnessSec").addClass('execution_col_two');
                count = 0;
            }
            return false;
        });

        $('#TestingPageLink').click(function () {
            window.location.href = "/Testing/Index?clientName=" + $('input[name=hdnClientName]').val();
        });

        $('#ReportingPageLink').click(function () {
            window.location.href = $(this).attr('href') + "?clientName=" + $('input[name=hdnClientName]').val();
            return false;
        });

        $("#txtclientName").autocomplete({ source: "/Execution/QuickSearchClient" });
        $("#txtclientName").watermark("Client's Name");
        $("#txturlName").watermark("Url");
        $("#txtBuildName").watermark("Build name");
        $("#txtRunName").watermark("Run name");
        $('#txtAuthorityName').watermark("Authority");

        $('#txtAuthorityName').focus(function () {
            var urlValue = $("#txturlName").val();
            var authorityValue = urlValue.split('/');
            $('#txtAuthorityName').val(authorityValue[2]);
        }
        );
        $("#txturlName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Execution/QuickSearchUrlName", type: "POST", dataType: "json",
                    data: { searchText: request.term, clientName: $("#txtclientName").val() },
                    success: function (data) {
                        var result = data;
                        if (result !== null) {
                            var a = [];
                            for (var i = 0; i < result.length; i++) {
                                a.push({ label: result[i].label });
                            }
                            response(a);
                        } else {
                            response(null);
                        }
                    }
                })
            }
        });

        $("#txtBuildName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Execution/QuickSearchBuildName", type: "POST", dataType: "json",
                    data: { searchText: request.term, urlName: $("#txturlName").val(), clientName: $("#txtclientName").val() },
                    success: function (data) {

                        var result = data;
                        if (result !== null) {
                            var a = [];
                            for (var i = 0; i < result.length; i++) {
                                a.push({ label: result[i].label });
                            }
                            response(a);
                        } else {
                            response(null);
                        }
                    }
                })
            }
        });

        $("#txtRunName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Execution/QuickSearchRunName", type: "POST", dataType: "json",
                    data: { searchText: request.term, buildName: $("#txtBuildName").val(), urlName: $("#txturlName").val(), clientName: $("#txtclientName").val() },
                    success: function (data) {
                        //debugger;
                        var result = data;
                        if (result !== null) {
                            var a = [];
                            for (var i = 0; i < result.length; i++) {
                                a.push({ label: result[i].label });
                            }
                            response(a);
                        } else {
                            response(null);
                        }
                    }
                })
            }
        });
    });

    $.fx.speeds._default = 500

    function ValidateData()
    {
        var target = $("#divCrawlContent");
        var client = $("#txtclientName").val();
        var url = $("#txturlName").val();
        var build = $("#txtBuildName").val();
        var run = $("#txtRunName").val();
        var crawlDepthLevel = $("#idDepthLevel").val();
        var authority = $('#txtAuthorityName').val();
        var crawlType = $('#allowIntExternal').val();
        if (client != '' && url != '' && build != '' && run != '' && authority != '') 
        {
        if (ValidateWebAddress(url)) 
            {
        $.ajax({
                    url: "/Execution/Validate_Data", type: "POST",
                    data: { ClientName: client, UrlName: url, depthLevel: crawlDepthLevel, BuildName: build,
                        RunName: run, Authority: authority, CrawlType: crawlType
                    },
                    success: function (response) {
                    if (response.Duplicate && response.Duplicate.toLowerCase() == "false") {
                    $("#Loading").dialog("close");
                                CommFunc.OpenOKDialog("divdialog","Client Name:" + client + " "+"does not match with Url Name:"+ url +" ,"+"Build Name:" +" "+ build +" ,"+ "Run Name:"+" "+ run,600, 150);
                                }
                    else{
                            Crawl_Onclick();
                        }
                    }
                });
             }
             else
             {
                //validate url
                    $("#divdialog").html('');
                    $("#divdialog").append('<font size="2">Please enter the valid URL</font><center><div class="popup_button_ok" id="OkClick">OK</div></center>');
                    $("#divdialog").dialog("open");
                    $("#OkClick").click(function () {
                        $("#divdialog").dialog("close");
                    });
             }
         }
         else
         {
                //valdate All Fields
                $("#divdialog").html('');
                $("#divdialog").append('<font size="2">Please select the values for all fields</font><center><div class="popup_button_ok" id="OkClick">OK</div></center>');
                $("#divdialog").dialog("open");
                $("#OkClick").click(function () {
                    $("#divdialog").dialog("close");
                });
         }
    }
    

    function Crawl_Onclick() {        
        var target = $("#divCrawlContent");

        var client = $("#txtclientName").val();
        var url = $("#txturlName").val();
        var build = $("#txtBuildName").val();
        var run = $("#txtRunName").val();
        var crawlDepthLevel = $("#idDepthLevel").val();
        //var allowExternal = $('#allowIntExternal').val();
        var authority = $('#txtAuthorityName').val();
        var crawlType = $('#allowIntExternal').val();

        if (client != '' && url != '' && build != '' && run != '' && authority != '') {
            if (ValidateWebAddress(url)) {
                url = Fix_url(url);
                $("#txturlName").val(url)

                $('input[name=hdnClientName]').val(client);
                $('input[name=hdnSiteName]').val(url);

                $.ajax({
                    url: "/Execution/_Crawl", type: "POST",
                    data: { ClientName: client, UrlName: url, depthLevel: crawlDepthLevel, BuildName: build,
                        RunName: run, Authority: authority, CrawlType: crawlType
                    },
                    success: function (response) {
                        // loading graphic
                        $("#Loading").dialog("close");

                        var markup = $(response);
                        markup.appendTo(target);
                        //callback(true);
                    }
                })

                // loading graphic
                LoadingOpenDialog();

                // remove existing content
                target.children().remove();
            }
            else {
                $("#divdialog").html('');
                $("#divdialog").append('<font size="2">Please enter the valid URL</font><center><div class="popup_button_ok" id="OkClick">OK</div></center>');
                $("#divdialog").dialog("open");

                $("#OkClick").click(function () {
                    $("#divdialog").dialog("close");
                });
            }
        }
        else {
            $("#divdialog").html('');
            $("#divdialog").append('<font size="2">Please select the values for all fields</font><center><div class="popup_button_ok" id="OkClick">OK</div></center>');
            $("#divdialog").dialog("open");

            $("#OkClick").click(function () {
                $("#divdialog").dialog("close");
            });
        }
    }


    function Fix_url(url) {
        if (url.substr(0, 7).toLowerCase() == 'http://') { return url; }
        if (url.substr(0, 8).toLowerCase() == 'https://') { return url; }
        return 'http://' + url;
    }


    function ValidateWebAddress(url) {

        //Old Expression
        //var webSiteUrlExp = /^(([\w]+:)?\/\/)?(([\d\w]|%[a-fA-f\d]{2,2})+(:([\d\w]|%[a-fA-f\d]{2,2})+)?@@)?([\d\w][-\d\w]{0,253}[\d\w]\.)+[\w]{2,4}(:[\d]+)?(\/([-+_~.\d\w]|%[a-fA-f\d]{2,2})*)*(\?(&?([-+_~.\d\w]|%[a-fA-f\d]{2,2})=?)*)?(#([-+_~.\d\w]|%[a-fA-f\d]{2,2})*)?$/;

        var webSiteUrlExp = /^((http|https):\/\/(\w+:{0,1}\w*@@)?(\S+)|)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@@!\-\/]))?$/;
        if (webSiteUrlExp.test(url)) {
            return true;
        }
        else {
            return false;
        }
    }

    function Clear_Onclick() {
        $("#txtclientName").val('');
        $("#txtBuildName").val('');
        $("#txturlName").val('');
        $("#txtRunName").val('');
        $("#idDepthLevel").val('1');
        $("#allowIntExternal").val('All');
        $('#txtAuthorityName').val('');
    }
    $(function () {
        $("#divdialog").dialog({ autoOpen: false, show: "blind" });
    });


    function LoadingOpenDialog() {
        $("#Loading").dialog({
            width: 250,
            height: 200,
            autoOpen: true,
            //show: "blind",
            hide: { effect: "drop", direction: "down" },
            modal: true
        });
    };

    function ExecutingOpenDialog() {
        $("#Executing").dialog({
            width: 250,
            height: 200,
            autoOpen: true,
            //show: "blind",
            hide: { effect: "drop", direction: "down" },
            modal: true
        });
    };    

    function hideFileUploader() {
        $(".execution_col_two_cnt2_R1").hide();
        $('#divreportview').attr('disabled', false);
        $('#txtclientName').attr('disabled', false);
        $('#txturlName').attr('disabled', false);
        $('#txtAuthorityName').attr('disabled', false);
        $('#txtBuildName').attr('disabled', false);
        $('#txtRunName').attr('disabled', false);
        $('.execution_button1').attr('disabled', false);
        $('.execution_button2').attr('disabled', false);
        $(".execution_col_three_in_hd").show();
        $(".execution_col_two_cnt2_div").show();
        $(".execution_col_two_cnt2_div1").show();
    }    

    function showBulkExecutionSection() {
        $("body").append('<div class="modalOverlay">');

        $.ajax({
            url: "/Execution/BulkExecutionSection",
            type: "GET",
            cache: false,
            success: function (data) {
                $("#bulkExecutionDiv").html(data);
                $('#bulkExecutionPartialViewDiv').css('display', 'block');
                $('#bulkExecutionPartialViewDiv').css({
                    position: 'fixed',
                    top: '50%',
                    left: '65%',
                    margin: '-' + (
                                        $('#bulkExecutionPartialViewDiv').height() / 2) + 'px 0 0 -' + (
                                        $('#bulkExecutionPartialViewDiv').width() / 2) + 'px',
                    'z-index': 1,                   
                });

                return false;
            }
        });
    }
</script>
<input id="hdnClientName" name="hdnClientName" type="hidden" />
<input id="hdnSiteName" name="hdnSiteName" type="hidden" />
<div id="divdialog" title="Notification" class="NotificationDialog">
</div>
<div id="Loading" title="Loading Please wait..." style="vertical-align: middle; display: none;">
    <center>
        <img src="~/Images/Loading.gif" />
    </center>
</div>
<div id="Executing" class="modalDialog" title="Executing Please wait..." style="vertical-align: middle;
    display: none;">
    <center>
        <img src="~/Images/Loading.gif" />
    </center>
</div>
<aside>
	<div class="execution_sliderexbg" id="trigger">
     <a href="@Request.UrlReferrer">
    	<div class="execution_trigger"></div>
        </a>
    </div>
     <div class="divpanel" style="display: none;">
            <a href="..\Rules\Index">
                <div class="rulelinkwraper">
                    <div class="rulelinktextwraper">
                        Rules <span class="rulesicon"></span>
                    </div>
                </div>
            </a><a href="..\NewClient\Index">
                <div class="newclientlinkwraper">
                    <div class="newclientlinktextwraper">
                        Client <span class="newclienticon"></span>
                    </div>
                </div>
            </a><a href="..\Execution\Index">
                <div class="executionlinkwraper">
                    <div class="executionlinktextwraper">
                        Execution <span class="executionicon"></span>
                    </div>
                </div>
            </a><a id="TestingPageLink">
                <div class="testinglinkwraper">
                    <div class="testinglinktextwraper">
                        Testing <span class="testingicon"></span>
                    </div>
                </div>
            </a><a id="ReportingPageLink" href="..\Reporting\Index">
                <div class="reportinglinkwraper">
                    <div class="reportinglinktextwraper">
                        Reporting <span class="reporticon"></span>
                    </div>
                </div>
            </a>
        </div>
</aside>
<section>
    <div id="HarnessSec" class="execution_col_two"> 
        <div id="execution_col_three_in_one">
        <div class="execution_col_two">
                <div class="execution_col_right_hd">
            	    <span class="execution_col_right_hd_txt">Execution</span>
                                        <div class="execution_pg_title_buttons">
                    <span class="execution_crawl_icon" onclick="hideFileUploader();" title="View Bulk Execution Status"></span>
                    <span class="execution_upload_icon" onclick="showBulkExecutionSection()" title="Upload File For Bulk Execution"></span>
                    </div>                   
                </div>          
                <div id="divreportview" class="execution_col_two_rowone">
          
                    <div id="divClientView" class="execution_col_one_r1">
                    <span class="execution_col_one_r1_padd">Client Name</span>
                    <input type="text" id="txtclientName" name="txtclientName" class="execution_textBox1"/>
                    </div>
                
                    <div id="divUrlName" class="execution_col_one_r1">
                    <span class="execution_col_one_r1_padd">URL Name</span>
                    <input type="text" id="txturlName" name="txturlName" class="execution_textBox1"/>
                    </div>

                    <div id="divAuthorityName" class="execution_col_one_r1">
                    <span class="execution_col_one_r1_padd">Authority</span>
                    <input type="text" id="txtAuthorityName" name="txtAuthorityName" class="execution_textBox1"/>
                    </div>

                    <div class="execution_col_one_r1">
                    <span class="execution_col_one_r1_padd">Build Name</span>
                    <input  id="txtBuildName" type="text" name="txtBuildName" class="execution_textBox1"/>
                    </div>
                
                    <div class="execution_col_one_r1">
                    <span class="execution_col_one_r1_padd">Run Name</span>
                    <input id="txtRunName"  type="text" name="txtRunName" class="execution_textBox1"/>
                    </div>
                @{
                    var depthLevel = @System.Configuration.ConfigurationManager.AppSettings["DepthLevel"].ToString().Split(',');
                    var CrawlType = @System.Configuration.ConfigurationManager.AppSettings["CrawTypes"].ToString().Split(','); 
                }
                <div class="execution_col_one_r1">
                    <span class="execution_col_one_r1_padd">Crawl Depth</span>
                    <select class="execution_CrawlType"  id="idDepthLevel" >
                     @foreach (var item in @depthLevel)
                     {
                         if (item == "1")
                         {
                           <option selected="selected" value="@item">&nbsp;@item </option>     
                         }
                         else
                         {
                          <option value="@item">&nbsp;@item </option>     
                         }
                     }     
                    </select>
                    </div>  
                    
                    <div class="execution_col_one_r1">
                    <span class="execution_col_one_r1_padd">Crawl Type</span>
                    <select class="execution_CrawlType"  id="allowIntExternal" >
                    @foreach (var item in @CrawlType)
                    {
                        if (item == "All")
                        {
                           <option selected="selected" value="@item">&nbsp;@item </option>     
                        }
                        else
                        { 
                           <option value="@item">&nbsp;@item </option>
                        }
                    }     
                    </select>
                    </div>                      
                    <a href="#" class="execution_button1" onclick="ValidateData();">Crawl</a>
                    <a href="#" class="execution_button2" onclick="Clear_Onclick();">Clear</a>                   
              </div>           
              <div class="execution_col_three"> 
              <div class="execution_col_three_in">            
                <div class="execution_col_two_cnt2_hd" id="divCrawlContent">
                @this.Html.Partial("~/Views/Execution/_Crawl.cshtml", null)
                </div>
              </div>
          </div>
          </div>
        </div>
    </div>
</section>
<div id="bulkExecutionDiv">
</div>
