﻿<script language="javascript" type="text/javascript" src="~/Scripts/jquery.watermark.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#selectedFile").watermark("Select urls file");
    });

    function sub(obj) {
        var file = obj.value;
        var fileName = file.split("\\");
        $("#selectedFile").val(file);
        if (file != "") {
            $('input#startBulkExecution').attr('disabled', '');
        }
    }

    function HideExportDialog() {
        $("#bulkExecutionPartialViewDiv").fadeOut();
        $('div.modalOverlay').remove();

    }

    $("#startBulkExecution").click(function () {
        $("#bulkExecutionForm").submit();
    });

    function Upload_Complete() {        
        //Check to see if this is the first load of the iFrame         
        if ($("#selectedFile").val() != "") {
            HideExportDialog();
        }
    }      
</script>
@using (Html.BeginForm("Upload", "Execution", FormMethod.Post, new { enctype = "multipart/form-data", target = "UploadTarget", id = "bulkExecutionForm", name = "bulkExecutionForm" }))
{    
    <div class="execution_col_two_cnt2_R1" id="bulkExecutionPartialViewDiv">
        <div class="execution_col_two_R1" style="position: absolute; z-index: 1">
            <input type="text" class="testingpage_selectedFile" id="selectedFile" disabled="disabled" />
            <a id="browseButton" class="testingpage_browseButton">Browse</a>
        </div>
        <input type="file" id="fileUpload" name="_ExportViolations" onchange="sub(this)"
            style="position: relative; z-index: 2; width: 483px; margin-top: 15px; opacity: 0;
            text-align: right;" />              
        <div class="execution_btn_container">
            <input type="button" id="startBulkExecution" value="Execute" title="Start Bulk Execution" />
            <a id="cancelExport" class="testingpage_hide_export_dialog" onclick="HideExportDialog()">
                Cancel</a>
        </div>
    </div>
   
    <iframe id="UploadTarget" name="UploadTarget" onload="Upload_Complete()" style="position: absolute;
        left: -999em; top: -999em;"></iframe>

}